:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --soft-blue: #E7F5FF;
    --secondary-blue: #1A9AF7;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --grey: #BABABA;
    --just-white: #FFF;
    --off-white: #FAF8F7;
    --font-gray: #808080;
}

html {
    /* every 1rem = 1px */
    font-size: 6.25%;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16rem;
}
a{
    text-decoration: none;
    color: var(--warm-black);
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    min-width: 32rem;
    height: 335rem;
    background: linear-gradient(207.8deg, 
    #201E1C 16.69%, #F7931A 100%);
    font-family: 'DM Sans', sans-serif;
}
header .header-logo{
    width: 150rem;
    height: 25rem;
    align-self: center;
}
header .header-title{

    width: 90%;
    min-width: 290rem;
    max-width: 900rem;
    text-align: center;
    align-self: center;
    
}
header .header-title h1{
    color: var(--just-white);
    font-weight: 700;
    font-size: 24rem;
    line-height: 26rem;
    text-align: center;
}
header .header-title p{
    color: var(--soft-orange);
    font-size: 14rem;
    font-weight: 500;
    line-height: 18rem;
    text-align: center;
}
header .header-title .header-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12rem 16rem;

    width: 230rem;
    height: 48rem;
    background: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -36rem);
}
header .header-title .header-button a{
    height: 18rem;
    color: var(--warm-black);
    text-decoration: none;
    font-size: 14rem;
    line-height: 18rem;
    font-weight: 700;

}
header .header-title .header-button a span{
    margin-left: 8rem;
}
main {
    font-family: 'DM Sans', sans-serif;
    width: 100%;
    min-width: 320rem;
    height: auto;
}
main .main-section{
    width: 100%;
    height: auto;
    padding-top: 80rem;
    padding-bottom: 30rem;
    background: var(--off-white);
    text-align: center;
}

main .main-section figure{
    width: 200rem;
    height: 200rem;
    margin: 0 auto;
    margin-bottom: 50rem;
    background: url("../assets/imgs/bitcoin.svg") center/cover no-repeat;
}
main .main-section .main-section-title{
    width: 90%;
    min-width: 288rem;
    max-width: 900rem;
    margin: 0 auto;
}
main .main-section .main-section-title h2{
    margin-top: 0;
    margin-bottom: 30rem;

    font-size: 24rem;
    font-weight: bold;
    line-height: 26rem
}
main .main-section .main-section-title p{
    color: var(--font-gray);
    margin-top: 0;
    margin-bottom: 30rem;
    font-size: 14rem;
    font-weight: 500;
    line-height: 16rem;
}
main .main-tables-container{
    margin: 0 auto;
    margin-top: 40rem;
    width: 70%;
    text-align: center;
    scroll-behavior: smooth;
    
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.main-tables-container::-webkit-scrollbar{
    display: none;
}
main .main-tables-container .table-container{
    display: flex;
    flex-direction: column;
    position: relative;
    scroll-snap-align: center;
}
.table-container h3{
    text-align: left;
    font-size: 18rem;
    font-weight: 700;
    line-height: 23rem;
    color: var(--bitcoin-orange);
    margin-left: 12rem;
    margin-bottom: 12rem;
    
}
main .main-tables-container .table-container .grid-table-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Inter', sans-serif;
    gap: 1.5rem;
} 

.grid-table-container div{
    display: flex;
    padding: 10rem 12rem;
    background: var(--just-white);
}

.grid-table-container div:nth-child(1){
    border-top-left-radius: 6rem;
}
.grid-table-container div:nth-child(2){
    border-top-right-radius: 6rem;
}
.grid-table-container div:nth-child(7){
    border-bottom-left-radius: 6rem;
}
.grid-table-container div:nth-child(8){
    border-bottom-right-radius: 6rem;
}
.grid-table-container div:nth-child(2n){
    justify-content: center;
}
.grid-table-container div h4{
    font-size: 16rem;
    font-weight: 500;
    line-height: 19rem;
    color: var(--font-gray);
}
.grid-table-container div h5{
    font-size: 14rem;
    font-weight: 400;
    line-height: 17rem;
    color: var(--font-gray);
}
.grid-table-container div h5 span{
    display: inline-block;
    margin-left: 11rem;
    width: 12rem;
    height: 8rem;
    background: url("../assets/icons/trending-down.svg") center/cover no-repeat;
}
.grid-table-container div:nth-child(4) h5 span{
    display: inline-block;
    margin-left: 11rem;
    width: 12rem;
    height: 8rem;
    background: url("../assets/icons/trending-up.svg") center/cover no-repeat;
}
.table-updateDate{
    background: var(--soft-orange);
    margin: 16rem 0;
    padding: 8rem;
    border-radius: 8rem;
}
.table-updateDate p{
    font-size: 12rem;
    font-weight: 400;
    line-height: 15rem;
    color: var(--font-gray);
}
.table-updateDate span{
    font-size: 12rem;
    font-weight: 700;
    line-height: 15rem;
    color: var(--warm-black);
}

.table-go-right{
    position: absolute;
    right: -40rem;
    padding: 15rem;
    top: calc(50% - 60rem);
}
.table-go-left{
    position: absolute;
    left: -40rem;
    padding: 15rem;
    top: calc(50% - 60rem);
}

.features-section{
    position: relative;
    width: 100%;
    min-width: 320rem;
    height: auto;
    padding: 20rem 10rem;
    background-color: var(--warm-black-1);
}
.features-section .features-logo{
    position: absolute;
    width: 40rem;
    height: 25rem;
    top: -10rem;
    left: calc(50% - 20rem);
    background-image: url("../assets/imgs/batata.svg");
}
.features-section .features-title{
    width: 90%;
    min-width: 288rem;
    height: auto;
    margin: 0 auto;
    margin-top: 50rem;
    text-align: center;
}
.features-section .features-title h3{
    margin-bottom: 20rem;
    font-size: 24rem;
    font-weight: bold;
    line-height: 26rem;
    color: var(--just-white);
}
.features-section .features-title p{
    margin-bottom: 20rem;
    font-size: 14rem;
    font-weight: 500;
    line-height: 18rem;
    color: var(--font-gray);
}
.features-section .features-card-container{
    width: 90%;
    min-width: 288rem;
    max-width: 400rem;
    height: auto;
    margin: 15rem auto;
    padding: 15rem;
    background-color: var(--warm-black);
    border-radius: 6rem;
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.16);
}
.features-section .features-card-container .features-card-icon{
    display: inline-block;
    width: 20rem;
    height: 20rem;
    margin-bottom: 10rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.clock{
    background-image: url("../assets/icons/clock.svg");
}
.eye{
    background-image: url("../assets/icons/eye.svg");
}
.dollar{
    background-image: url("../assets/icons/dollar-sign.svg");
}
.check{
    background-image: url("../assets/icons/check-circle.svg");
}
.features-card-details h3{
    margin-bottom: 15rem;
    font-size: 18rem;
    font-weight: bold;
    line-height: 18rem;
    color: var(--just-white);
}
.features-card-details p{
    font-size: 14rem;
    font-weight: 500;
    line-height: 18rem;
    color: var(--font-gray);
}
.bitcoin-banner-container{
    width: 100%;
    min-width: 320rem;
    height: 60vh;
    background: url("../assets/imgs/bitcoinbabycompressed.jpg") center/cover no-repeat;
}
.bitcoin-banner-container h2{
    font-size: 24rem;
    font-weight: bold;
    line-height: 26rem;
    color: var(--just-white);
    padding-top: 60rem;
    text-align: center;
}
.main-plans-container{
    width: 100%;
    min-width: 320rem;
    background: var(--off-white);
    padding: 70rem 0;
}
.main-plans-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 8rem 52rem 8rem;
    
}
.main-plans-title h2{
    font-size: 24rem;
    font-weight: bold;
    line-height: 26rem;
    color: var(--warm-black);
}
.main-plans-title p{
    padding-top: 30rem;
    font-size: 14rem;
    font-weight: 500;
    line-height: 18rem;
    color: var(--font-gray);
}
.plans-container-slider{
    display: flex;
    height: 320rem;
    align-items: center;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190rem;
    max-width: 300rem;
    height: 280rem;
    margin: 0 5rem;
    background: var(--just-white);
    box-shadow: 0rem 4rem 8rem rgba(89, 73, 30, 0.16);
    border-radius: 8rem;
    font-family: 'Inter', sans-serif;
}
.plans-container-card .recommended{
    position: absolute;
    width: 120rem;
    left: calc(50% - 60rem);
    top: -16rem;
    
    font-size: 12rem;
    font-weight: 700;
    line-height: 14rem;

    padding: 8rem;
    border-radius: 8rem;
    color: var(--just-white);
    background: var(--bitcoin-orange);
}
#monthly{
    background: #0B0835;
}
#free{
    background: #0C5679;
}
.plan-info-container{
    margin-top: 32rem
}
.plan-info-container .plan-card-title{
    font-size: 14rem;
}
.plan-info-container .plan-card-price{
    margin: 8rem 0;
    font-size: 52rem;
    font-weight: bold;
}
.plan-info-container .plan-card-price sup{
    font-size: 12rem;
    font-weight: 500;
    vertical-align: text-top;
    color: #404040;
}
.plan-info-container .plan-card-saving{
    width: 70%;
    margin: 16rem auto;

    font-size: 12rem;
    font-weight: 500;
    line-height: 15rem;
    color: var(--font-gray);
}
.plan-info-container .plan-card-button{
    width: 150rem;
    padding: 12rem 16rem;
    margin-bottom: 32rem;

    font-family: 'DM Sans', sans-serif;
    font-size: 14rem;
    font-weight: bold;
    line-height: 18rem;
    background: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4rem;
}
.plan-info-container .arrow{
    display: inline-block;
    width: 20rem;
    height: 20rem;
    vertical-align: bottom;
    background-image: url("../assets/icons/arrow-right.svg");
}
footer{
    display: flex;
    width: 100%;
    height: 150rem;
    background: var(--bitcoin-orange);
}
footer section {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}
footer .footer-left ul{
    font-size: 14rem;
    font-weight: 500;
    line-height: 18rem;
    list-style: none;
}
.footer-left ul li{
    margin: 10rem 0;
}
.footer-left a{
    color: var(--just-white);
}
.footer-left a:hover{
    text-decoration: underline;
}
.footer-right p{
    font-size: 12rem;
    font-weight: 500;
    color: var(--soft-orange);
}
